## npm local storage
node_modules
package-lock.json

## cache
cache

## artifacts
artifacts/@*
artifacts/build-info*

## might need scripts at some later point
# scripts
test.js

## types
typechain

## coverage
coverage

## sensitive information
.npmignore
.env

## contract compilation info
compiler-output

scripts/verification/deploymentArgs/hardhat*
scripts/verification/deploymentArgs/localhost*
eip-template.md
TODOs.md