## npm local storage
node_modules
package-lock.json

## cache
cache

## artifacts
artifacts

## might need scripts at some later point
# scripts

## types
typechain

## coverage
coverage

## sensitive information
.npmignore
.env

## contract compilation info
compiler-output

scripts/verification/deploymentArgs/*