## npm local storage
node_modules
package-lock.json

## cache
cache

## artifacts
artifacts

## might need scripts at some later point
# scripts

## coverage
coverage

## sensitive information
.npmignore

## contract compilation info
compiler-output